name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------- BACKEND ----------
      - name: Install Backend Dependencies
        run: |
          cd backend
          npm install

      - name: Restart Backend
        run: |
          pm2 restart kangpack-backend || pm2 start backend/server.js --name kangpack-backend
          pm2 save

      # ---------- FRONTEND ----------
      - name: Install Frontend Dependencies
        run: |
          cd frontend
          npm install

      - name: Build Next.js
        run: |
          cd frontend
          npm run build

      - name: Restart Frontend
        run: |
          pm2 restart kangpack-frontend || pm2 start "npm run start" --name kangpack-frontend --cwd frontend
          pm2 save
